mysql-connector-python==9.1.0
boto3==1.35.70
botocore==1.35.70
mysql-connector-repackaged==0.3.1
build==1.2.1
cachetools==5.4.0
certifi==2019.11.28
cffi==1.16.0
chardet==3.0.4
charset-normalizer==2.1.1
chroma-hnswlib==0.7.3
fastapi==0.112.2
chromadb==0.4.14
fastapi-restful==0.6.0
fastapi-utils==0.7.0
fasteners==0.14.1
fastjsonschema==2.19.1
kafka-python==2.0.2
langchain==0.2.16
langchain-community==0.2.6
langchain-core==0.2.39
langchain-openai==0.1.24
openai==1.56.1
pydantic==2.8.2
pydantic-core==2.20.1
langchain-chroma==0.1.4
numpy==1.24.3
PyMySQL==1.0.2
redis==3.5.3
referencing==0.34.0
requests==2.31.0
requests-oauthlib==2.0.0
requests-unixsocket==0.2.0
tiktoken==0.7.0
tinycss2==1.2.1
tokenizers==0.19.1
urllib3==1.25.8
uvicorn==0.30.6
uvloop==0.20.0
confluent-kafka==2.5.3
pypdf==4.3.1
supervisor==4.2.5
gevent==24.2.1
gunicorn==22.0.0

